body
{
    margin: 0 !important;
    font-family: 'Karla', sans-serif;
}
.container
{
    height: 1500px;
    width: 1000px;
    margin-left: 25%;
}
.head
{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    font-size: 20px;
    height: 100px;
    text-align: center;
    width: 1000px;
    background-color: rgb(179, 179, 179);
    padding: 0;
    margin: 0;
}
.left
{
    height: 1300px;
    width: 400px;
    background-color: rgb(242, 242, 242);
    float: left;
}
.right
{
    height: 1300px;
    width: 600px;
    background-color: rgb(242, 242, 242);
    float: left;
}
.footer
{
    height: 100px;
    width: 1000px;
    background-color: red;
    clear: both;
}
.a:link
{
    color: orange;
    text-decoration-line: none;
    font-size: 40px;
}
.a:visited
{
    color: orange;
    font-size: 40px;
}
.a:hover
{
    color: rgb(230, 149, 0);
    font-size: 40px;
}
ol
{
    list-style-type: none;
    font-size: 20px;
    height: 50px;
    line-height: 200%;
    display: inline-block;
}
ol a
{
    color: orange;
    text-decoration: none;
    display: block;
}
ol a:hover
{
    color: rgb(230, 149, 0);
    background-color:#cccccc;
}
ol > li
{
    float: left;
    width: 230px;
    border-right: 1px dotted orange;
}
ol > li:first-child
{
    border-left: 1px dotted orange;
}
ol > li:hover > a
{
    color: orangered;
}
ol > li > ul
{
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 40px;
    display: none;
}
ol > li:hover > ul
{
    display: block;
}
ol > li > ul > li
{
    background-color: silver;
    position: relative;
    z-index: 100;
    border-top: 1px dashed orange;
}
ol > li > ul > li:hover
{
    background-color: #ffb833;
}
